mixin imitaceMapy(fakeMaps)
  .row.sources.fake-map
    //- <!-- PARAMETR: pramen-#{(1+index)} -->
    .item.source
      .source-container(data-fake-map="target")

        .fake-map-items
          each layer, layerIndex in fakeMaps.vrstvy
            .fake-map-item(class= (layerIndex === 0 ? "active" : "") data-fake-map="map")
              //- fulscreen toggle
              +fullscreenToggle()
              img.source-image.fake-map-image(data-lupa-target="" src="../assets/img/" + layer.mapa alt=fakeMaps.mapa)

        if fakeMaps["popisky"]
          +popiskyPramenu(fakeMaps["popisky"])

        //- tlacitka
        +imitaceMapyVrstvy(fakeMaps["vrstvy"])

mixin imitaceMapyVrstvy(layouts)
  .fake-map-buttons
    h5.fake-map-buttons-label= t.fakeMap.switchLayers[lang]
    .fake-map-buttons-container
      each button, index in layouts
        button.button.small(id= button.mapa class= (index === 0 ? "active" : "") data-fake-map="toggle" tabindex="-1") !{button.nazev}
