each slide, index in cv.slajd
  +slide(slide)
    each data, key in slide
      //- - console.log(index, key, data)
      case key
        //- sorted by alphabet
        when "klicovaSlova"
          +klicovaSlova(data)
        when "novaTabulka"
          +novaTabulka(data)
        when "popisky"
          +popiskyPramenu(data)
        when "prameny"
          +prameny(data)
        when "razeni"
          +razeni(data)
        when "svg"
          +svg(data)
        when "testKviz"
          +testKviz(data)
        when "textovyEditor"
          +textovyEditor(data)
        when "uzivatelskyText"
          +uzivatelskyText(data)
        when "media"
          +media(data)
        when "vyber"
          +vyber(data)
        when "slideNaPul"
          +slideNaPul(data)
        when "imitaceMapy"
          +imitaceMapy(data)
