<p>
  Chtěl bych ještě dodat pro nás pro všechny v Československu dvě věci:
</p>
<ol>
  <li>Nikdy nezapomeňme na to, co s námi Němci v této válce dělali a co zamýšleli s námi učinit. Bylo to tak hrozné
    a strašné, že toho navždycky musí být vzpomínáno.</li>
  <li>Rozhodněme se, že musíme republiku odgermanisovat, všude a ve všem. Přemýšlejte, jak to učiníme. Půjde o odgermanisování
    jmen, krajů, měst, zvyků – půjde o všechno, co se vůbec odgermanisovat dá. </li>
</ol>
<p>
  Dnes přichází pro to doba. Vzpomínejte, co germanisací se nám za ta století od dob husitských stalo. Tož heslem naším bude:
  Všude a ve všem&nbsp;odgermanisovat<br>republiku.
</p>
